apiVersion: apps/v1
kind: Deployment
metadata:
  name: bv-frontend
  namespace: bv-app
spec:
  replicas: 2
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: bv-frontend
        image: bv-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
