apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: milestone-app
spec:
  replicas: 2
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: milestone-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80